<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Lugar</th>
            <th scope="col">Num-Tel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <th>{{ producto.id }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.lugar }}</td>
            <td>{{ producto.num }}</td>
            <td>
              <button type="button" class="btn btn-primary mr-2" (click)="getProducto(producto.id)" data-toggle="modal"
                data-target="#exampleModal">Editar</button>
              <button type="button" (click)="deleteProducto(producto.id)" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>