
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/ban1.jpg" class="d-block w-100" alt="8">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/ban2.jpg" class="d-block w-100" alt="8">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/ban3.jpg" class="d-block w-100" alt="8">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <h5>Bienvenidos</h5>
</div>
  <br>
   
  <p class="text-break">  </p>

         <p class="text-monospace">
                El Volkswagen Virtus es uno de lanzamientos de la
       marca en nuestro país para este año, pero qué pasaría si te dijera que,
        en realidad, este automóvil ya lleva conviviendo con nosotros desde hace 
        poco más de 25 años, mientras que, en el resto del mundo, se encuentra 
        presente desde hace más de cuatro décadas, claro con otro cuerpo y bajo otro
         nombre.
              </p>

              <h1>¿Cuándo debo usarlo?</h1>

              <p>Es ideal para usarlo en carreteras, autovías y autopistas, asegurandote que tengan curvas abiertas y que no haya mucho tráfico.

                    El problema de que lo uses con tráfico, es que vas a enfocarte en activar y desactivar el sistema y no de conducir. Ya que
                     en estas situaciones, tienes que estar más concentrado en la conducción para reaccionar de manera rápida ante cualquier
                      inconveniente.</p>

